
/* button top code ----------------------------------------------------  */
#topbtn {
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 40px;
    right: 20px;
    z-index: 99999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#1b8545;
    border: none;
  }
  
  #topbtn i{
    font-size: 2vw;
    color: #4d4d4d;
  }

  .loader{
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  
  #loader_t{
    background: #0c0c0c;
    z-index: 9999;
  }
  
  #loader_r{
    background: #151515;
    z-index: 9990;
  }
  
  #loader_b{
    background:#282727;
    z-index: 9980;
  }
  
  #loader_l{
    background: #555452;
    z-index: 9970;
  }